body{
  background: #212529;

}
.square {
  background: #212529;
  border: 1px solid #212529;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;

  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  color: white;
}

.board {
  background: #0da192;
  width: 50%;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.squares {
  background: #272727;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}
